.item {
    display: flex;
    margin-bottom: 10px;
}

.img {
    display: block;
    width: 100px;
    height: 130px;
    object-fit: contain;
}

.name {
    margin-top: 2px;
    margin-bottom: 8px;
    font-weight: 700;
}

.text {
    margin-top: 0;
}