.nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.link {
    text-decoration: none;
}